# RAMディスクのパスを記述
src = r"R:\Path\To\Ramdisk"
# Ramディスクのセーブ先を記述
dst = r"D:\Backups\RamdiskSave"
# RAMディスクセーブログの保存先を記述
log_path = r"D:\Backups\RamdiskSave.log"


# RAMデータをディスクへセーブするためのコマンド
cmd = rf"""
setlocal &

REM 同期元と同期先のパスを設定 &
set "SOURCE={src}" &
set "DEST={dst}" &

REM ログファイルの保存場所(任意) &
set "LOG={log_path}" &

REM 実行コマンド &
robocopy "%SOURCE%" "%DEST%" /MIR /Z /XA:H /W:5 /R:3 /LOG:"%LOG%" &
endlocal

"""

LOG_LEVEL = "WARN"