# RAMディスクのパスを記述
src = r"R:\Path\To\Ramdisk"
# Ramディスクのセーブ先を記述
dst = r"D:\Backups\RamdiskSave"
# RAMディスクセーブログの保存先を記述
log_path = r"D:\Backups\RamdiskSave.log"


# RAMデータをディスクへセーブするためのコマンド
cmd = f'robocopy /E /COPY:DAT /DCOPY:DAT /MIR /W:5 /R:3 /NP /LOG:"{log_path}" /TEE "{src}" "{dst}"'

LOG_LEVEL = "WARN"